<%= render "components/song/song" do %>
  <p><%= "Title: #{@song.title}" %></p>
  <p><%= "Difficulty: #{@song.difficulty}" %></p>
  <p><%= "Began Training: #{@song.began_training}" %></p>
  <p><%= "Ended Training: #{@song.completed_training}" %></p>
<% end %>